<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/search/" method="post">
        {% csrf_token %}
        按老师姓名查询
        <input type="text" name="dname">
        <input type="submit" value="提交">
    </form>

     <form action="/search1/" method="post">
        {% csrf_token %}
        按院系查询
        <input
             <label for="department">选择系：</label><br>
             <input type="checkbox" name="department" value="数字媒体系"> 数字媒体系<br>
             <input type="checkbox" name="department" value="设计系"> 设计系<br>
             <input type="checkbox" name="department" value="艺术教研中心"> 艺术教研中心<br>
             <input type="checkbox" name="department" value="传播学系"> 传播学系<br>

        <input type="submit" value="提交">
    </form>

</body>
</html>